@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Alegreya", serif;
  --accent-color: #ffcc4d;
  --white-color: #ffffff;
  --grey-color: #2f2f2f;
  --black-color: #000000;
  --trasparent-color: #0000004d;
}

/* Скидаємо верхні margin */
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Список без маркерів */
.list-no-marker {
  list-style: none;
  padding-left: 0px;
}

/* Посилання без підкреслень */
.link-no-decor {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.title {
  margin-bottom: 60px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.357;
  text-align: center;
  color: var(--accent-color);
}

.subtitle {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: var(--accent-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
  margin-right: 109px;
}

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--grey-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 91px;
  height: 91px;
}

.nav {
  margin-right: 127px;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  padding-right: 25px;
}
.nav__link {
  color: var(--accent-color);
}

.contact {
  display: flex;
}
.contact__item:not(:last-child) {
  margin-right: 75px;
}
.contact__link {
  color: var(--white-color);
}

.hero {
  background-image: url("../../images/hero/hero_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
.hero__container {
  padding-top: 158px;
}
.hero__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
}
.hero__wrapper {
  padding: 150px 151px 130px 151px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 9px 31px -8px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 70px;
}
.hero__content {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
}
.hero p:not(:last-child) {
  margin-bottom: 20px;
}

.programs {
  padding-top: 100px;
  padding-bottom: 100px;
}
.programs__list {
  display: flex;
  gap: 30px;
}
.programs__item {
  width: 570px;
  padding: 60px 38px;
  background-color: var(--grey-color);
}
.programs__subtitle {
  margin-bottom: 50px;
}
.programs__description:not(:last-child) {
  margin-bottom: 20px;
}

.methods__container {
  padding: 100px 160px;
  background-color: var(--grey-color);
}
.methods__subtitle {
  margin-bottom: 60px;
}
.methods__list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 350px;
  grid-column-gap: 150px;
  grid-row-gap: 50px;
}
.methods__item {
  content: "";
  display: block;
  width: 350px;
}
.methods__item-gaming {
  content: "";
  display: block;
}
.methods__item-method::before, .methods__item-training::before, .methods__item-gaming::before, .methods__item-practicality::before {
  content: "";
  display: block;
  width: 100%;
  height: 90px;
  background-position: top;
  background-repeat: no-repeat;
}
.methods__item-method::before {
  background-image: url(../../images/methods/methods__item-method.svg);
}
.methods__item-training::before {
  background-image: url(../../images/methods/methods__item-training.svg);
}
.methods__item-gaming::before {
  background-image: url(../../images/methods/methods__item-gaming.svg);
}
.methods__item-practicality::before {
  background-image: url(../../images/methods/methods__item-practicality.svg);
}
.methods__sub-subtitle {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 35px;
  line-height: 1.371;
  text-align: center;
  color: var(--accent-color);
}
.methods__description {
  text-align: center;
}/*# sourceMappingURL=main.css.map */