.skills {
  // outline: 1px solid tomato;

  height: 803px;
  padding-top: 30px;
  padding-bottom: 30px;
  @include mq(mobile) {
    height: 1002px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mq(tablet) {
    height: 830px;

    padding-top: 60px;
    padding-bottom: 30px;
  }
  @include mq(desktop) {
    height: 1113px;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  // background-image: url(../images/skills/skills-bg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__container {
    position: relative;
  }
  &__title {
    color: var(--grey-color);

    // margin-bottom: 60px;
  }
  &__list {
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    padding-left: 20px;
    padding-right: 20px;

    @include mq(mobile) {
      width: 180px;
      height: 180px;

      padding-left: 46px;
      padding-right: 46px;
    }
    @include mq(tablet) {
      width: 220px;
      height: 220px;

      padding-left: 58px;
      padding-right: 58px;
    }
    @include mq(desktop) {
      width: 270px;
      height: 270px;
    }

    &-accent {
      background-image: url(../images/skills/hexagon-accent.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-grey {
      background-image: url(../images/skills/hexagon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  // &__item:hover,
  // &__item:focus {
  //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //     0px 2px 1px rgba(0, 0, 0, 0.2);
  // }
  &__item:nth-child(1) {
    position: absolute;
    top: 63px;
    left: 85px;
  }
  &__item:nth-child(2) {
    position: absolute;
    top: 193px;
    left: 5px;
  }
  &__item:nth-child(3) {
    position: absolute;
    top: 193px;
    left: 165px;
  }
  &__item:nth-child(4) {
    position: absolute;
    top: 323px;
    left: 85px;
  }
  &__item:nth-child(5) {
    position: absolute;
    top: 453px;
    left: 5px;
  }
  &__item:nth-child(6) {
    position: absolute;
    top: 583px;
    left: 85px;
  }
  &__item:nth-child(7) {
    position: absolute;
    top: 453px;
    left: 165px;
  }
  // mobile
  @include mq(mobile) {
    &__item:nth-child(1) {
      position: absolute;
      top: 78px;
      left: 120px;
    }
    &__item:nth-child(2) {
      position: absolute;
      top: 244px;
      left: 15px;
    }
    &__item:nth-child(3) {
      position: absolute;
      top: 244px;
      left: 225px;
    }
    &__item:nth-child(4) {
      position: absolute;
      top: 410px;
      left: 120px;
    }
    &__item:nth-child(5) {
      position: absolute;
      top: 576px;
      left: 15px;
    }
    &__item:nth-child(6) {
      position: absolute;
      top: 742px;
      left: 120px;
    }
    &__item:nth-child(7) {
      position: absolute;
      top: 576px;
      left: 225px;
    }
  }
  // tablet
  @include mq(tablet) {
    &__item:nth-child(1) {
      position: absolute;
      top: 108px;
      left: 153px;
    }
    &__item:nth-child(2) {
      position: absolute;
      top: 108px;
      left: 393px;
    }
    &__item:nth-child(3) {
      position: absolute;
      top: 314px;
      left: 32px;
    }
    &__item:nth-child(4) {
      position: absolute;
      top: 314px;
      left: 273px;
    }
    &__item:nth-child(5) {
      position: absolute;
      top: 314px;
      left: 514px;
    }
    &__item:nth-child(6) {
      position: absolute;
      top: 520px;
      left: 153px;
    }
    &__item:nth-child(7) {
      position: absolute;
      top: 520px;
      left: 393px;
    }
  }

  // desktop
  @include mq(desktop) {
    &__item:nth-child(1) {
      position: absolute;
      top: 163px;
      left: 315px;
    }
    &__item:nth-child(2) {
      position: absolute;
      top: 163px;
      left: 615px;
    }
    &__item:nth-child(3) {
      position: absolute;
      top: 403px;
      left: 165px;
    }
    &__item:nth-child(4) {
      position: absolute;
      top: 403px;
      left: 465px;
    }
    &__item:nth-child(5) {
      position: absolute;
      top: 403px;
      left: 765px;
    }
    &__item:nth-child(6) {
      position: absolute;
      top: 643px;
      left: 315px;
    }
    &__item:nth-child(7) {
      position: absolute;
      top: 643px;
      left: 615px;
    }
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;

    @include mq(tablet) {
      font-size: 20px;
      line-height: 1.15;
    }
    @include mq(desktop) {
      font-size: 25px;
      line-height: 1.16;
    }

    color: var(--grey-color);
    &-grey {
      color: var(--accent-color);
    }
  }
}
