:root {
  // Шрифти
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Alegreya", serif;

  // Кольори тексту та фону
  --accent-color: #ffcc4d;
  --white-color: #ffffff;
  --grey-color: #2f2f2f;
  --black-color: #000000;

  // Кольори прозорі
  --trasparent-color: #0000004d;
}
